{% extends 'base.html' %}

{% block title%}
{{object.name}}
{% endblock title %}

{% block content %}

{% if object.image %}
<img src="{{object.image.url}}" class="img-fluid" alt="{{object.name}}">

{% endif %}
<h3>Remarks</h3>
<p>{{object.remarks}}</p>
<hr>
<p>author: {{object.author.user.username}}</p>
<p>created: {{object.created}}</p>
{% endblock content %}