{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<script src="{% static 'reports/upload.js' %}" defer>

</script>
{% endblock scripts %}
{% block title%}
Upload sales files
{% endblock title %}

{% block content %}
<h5>Upload your sales documents</h5>
<hr>
<div id="alert-box">

</div>
<form id="my-dropzone" class="dropzone dz">
    {% csrf_token %}
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>
</form>
{% endblock content %}