{% extends "base.html"%}
{% load crispy_forms_tags %}
{% block title %}
My profile
{% endblock title %}

{% block content %}
{% if confirm %}
<div class="alert alert-primary" role="alert">
    Your Profile has been updated
</div>
{% endif %}

<div class="text-center">
    <img src="{{profile.avatar.url}}" alt="MyProfile" class="avatar-big">

</div>
<br>

<form accept="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock content %}