{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts%}
<script src="{% static 'sales/home.js' %}" defer></script>

{% endblock scripts %}

{% block title %}
Home
{% endblock title %}
{% block content %}
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                <div id="alert-box"></div>
                <form id="report-form" autocomplete="off">
                    {% csrf_token %}
                    {{report_form|crispy}}
                    <br>
                    <button type="submit" class="btn btn-info mt-2">Save</button>

                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
            </div>
        </div>
    </div>
</div>

<hr>
{% if no_data %}
<div class="alert alert-danger" role="alert">
    {{no_data}}
</div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {{ search_form| crispy}}
    <button type="submit" class="btn btn-primary m-3">Search</button>
</form>

<br>
Sales DF
{% if sales_df %}
{{ sales_df| safe}}
{% else %}
<h3>No Data</h3>
{% endif %}

<br>
<hr>
<br>
Positions DF
{% if positions_df %}
{{ positions_df| safe}}
{% else %}
<h3>No Data</h3>
{% endif %}
<br>
<hr>
<br>
Merged DF
{% if merged_df %}
{{ merged_df| safe}}
{% else %}
<h3>No Data</h3>
{% endif %}
<br>
<hr>
<br>
Group by DF
{% if df %}
{{ df| safe}}
{% else %}
<h3>No Data</h3>

{% endif %}
{% if chart%}
<img src='data:image/png;base64, {{chart|safe}}' id="img">

{% else %}
<h3>No Chart</h3>
{% endif %}
<button class="btn btn-success not-visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">Add
    Reports</button>
{% endblock content %}