{% extends "base.html" %}
{% block title %}
Sales List
{% endblock title %}

{% block content %}
Sales List
<br>
{% for obj in object_list %}
<div class="card mb-3">
        <a href="{{obj.get_absolute_url}}" class='card-body'>
                {{obj.transaction_id}}
        </a>
</div>
<br>
{% endfor %}
{% endblock content %}  