{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
login
{% endblock title %}


{% block content %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{error_message}}
</div>

{% endif %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form action="" method="POST" class="p-3 border border-2">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary mt-3">
                    Login
                </button>
            </form>
        </div>
        <div class="col-6">
            news<br>update
        </div>
    </div>
</div>

{% endblock content %}