.not-visible{
    display: none;
}

.dz{
    border-style: dashed;
    border-radius: 5px;
    border-color: #ddd;
    transition: .5s;
}

.dz:hover{
    background-color: #f5f5f5;
    
}

.avatar-big{
    height:200px;
    width: 200px;
    border-radius: 50%;

}
.avatar-sm{
    height: 50px;
    width: 50px;
    border-radius: 50%;

}

.logo-sm{
    height: 30px;
    width: auto;
}